
// Work Card 
.careers-area {
    .more-work {
        margin-top: 20px;
        text-align: center;
    }
}
.career-card {
    margin-bottom: 30px;
    position: relative;
    transition: $transition;
    border:1px solid #eee;

    .content {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 30px;
        transition: $transition;
        z-index: 5;
        span {
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
            a {
                color: $paragraph-color;
            }
        }
        h3 {
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 20px;
            a {
                color:$dark-purple;
            }
        }
        .career-btn {
            background-color: $main-color;
            color: $white-color;
            padding: 8px 30px;
            border-radius: 30px;
            font-size: 15px;
            &:hover {
                background-color: $main-color;
                color: $main-color;
            }
        }
    }

    &:hover {
        background-color: $main-color;
        border-color:$main-color;
        span {
            a {
                color: darken($lilac, 20%);
            }
        }
        h3 {
            a {
                color:$white-color;
            }
        }
        .career-btn {
            background-color:  $white-color;
            color: $main-color;
            &:hover {
                transform:translateY(-5px);
                background-color:  $white-color;
                color: $main-color;
            }
        }
    }
}