/*================================================
Partner Area CSS
=================================================*/
.partner-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 90px;

    .row {
        margin: {
            left: -5px;
            right: -5px;
        };
    }
}
.single-partner-item {
    text-align: center;
    margin-bottom: 10px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: {
        left: 5px;
        right: 5px;
    }
    a {
        display: block;
        position: relative;
        overflow: hidden;
        background-color: #F4F7FC;
        border-radius: 5px;
        padding: 20px;

        img {
            &:nth-child(1) {
                position: relative;
                display: inline-block !important;
                width: auto !important;
                transition: transform .4s ease;
            }
            &:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 200%);
                transition: transform .4s ease;
                display: inline-block !important;
                width: auto !important;
            }
        }
        &:hover {
            img {
                &:nth-child(1) {
                    transform: translateY(-200%);
                }
                &:nth-child(2) {
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
.partner-slides {
    .single-partner-item {
        margin-bottom: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: {
            left: 0;
            right: 0;
        }
    }
    &.owl-theme {
        .owl-nav {
            margin: 0;

            .owl-prev, .owl-next {
                background-color: $main-color;
                color: #fff;
                position: absolute;
                left: -50px;
                margin: 0;
                padding: 0;
                top: 50%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                transform: translateY(-50%);
                transition: $transition;
                display: none;

                &:hover {
                    background-color: $black-color;
                }
            }
            .owl-next {
                left: auto;
                right: -50px;
            }
        }

        &:hover {
            .owl-prev, .owl-next {
                left: -20px;
                display: block;
            }
            .owl-next {
                left: auto;
                right: -20px;
            }
        }
    }
}