/*================================================
Contact Area CSS
=================================================*/
.contact-area {
    background-color: #fbfbfd;
    border-top: 1px solid #f2f2f2;
}
.contact-form {
    padding-left: 30px;

    form {
        .form-control {
            background-color: $white-color;
            border-color: #f2effc;
            box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
            height: 55px;
            border-radius: 5px;
            font: {
                size: 15px;
            }
            padding: 10px 20px;
            &:focus {
                border-color: $main-color;
                box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
            }
        }
        .form-group {
            margin-bottom: 20px;
        }
        .row {
            margin: {
                left: -10px;
                right: -10px;
            }
            .col-lg-12, .col-lg-6 {
                padding: {
                    left: 10px;
                    right: 10px;
                }
            }
        }
        textarea.form-control {
            height: auto;
            padding-top: 20px;
        }
        .default-btn {
            margin-top: 5px;
            box-shadow: 0 5px 28.5px 1.5px rgba(0, 0, 255, 0.2);
        }
        .help-block {
            ul {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    top: 5px;
                    bottom: 0;
                }
                li {
                    color: red;
                }
            }
        }
        #msgSubmit {
            margin-bottom: 0;
            text-align: left !important;

            &.text-danger, &.text-success {
                margin-top: 8px;
                font: {
                    size: 23px;
                    weight: 700;
                }
            }
        }
    }
}
.contact-info-box {
    text-align: center;
    border-radius: 5px;
    transition: $transition;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    background: $white-color;
    padding: 30px;
    margin-bottom: 30px;

    .icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        background: #f5f5f5;
        border-radius: 50%;
        font-size: 30px;
        color: $main-color;
        transition: $transition;
        margin-bottom: 25px;
    }
    h3 {
        margin-bottom: 12px;
        font: {
            size: 24px;
        }
    }
    p {
        margin-bottom: 0;

        a {
            display: inline-block;
            color: $paragraph-color;

            &:hover {
                color: $main-color;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .icon {
            background-color: $main-color;
            color: $white-color;
            border-color: $main-color;
        }
    }
}