/*================================================
FAQ Area CSS
=================================================*/
.faq-accordion {
    .accordion {
        list-style-type: none;
        padding-left: 0;
        border: none;
        border-radius: 0;
        margin: {
            bottom: 0;
        }
        .accordion-item {
            display: block;
            box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
            background: $white-color;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                .accordion-title {
                    i {
                        background: $optional-color;
                    }
                }
            }
        }
        .accordion-title {
            padding: 15px 20px 10px 51px;
            color: $black-color;
            position: relative;
            border-bottom: 1px solid transparent;
            margin-bottom: -1px;
            display: inline-block;
            font: {
                size: $font-size;
                weight: 700;
            }
            i {
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                text-align: center;
                height: 100%;
                background: $main-color;
                color: $white-color;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 13px;
                }
            }
            &.active {
                border-bottom-color: #eeeeee;

                i {
                    &::before {
                        content: "\f068";
                    }
                }
            }
        }
        .accordion-content {
            position: relative;
            padding: 20px;
            box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
            font-size: 15px;
            border-top: 1px solid #f1f1f1;
            background-color: $white-color;
            &.show {
                display: block;
            }
        }
        .accordion__item {
            border: none;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            .accordion__button {
                box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
                background: $white-color;
                padding: 20px 25px 15px;
                color: #212529;
                font-size: 16px;
                font-weight: 800;
                cursor: pointer;

                &:focus {
                    outline: 0;
                }
            }
            .accordion__panel {
                padding: 0;
            }
        }
    }
}
.faq-area {
    .col-lg-6 {
        &:nth-child(2) {
            .faq-accordion {
                .accordion {
                    .accordion-item {
                        &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                            .accordion-title {
                                i {
                                    background: $main-color;
                                }
                            }
                        }
                    }
                    .accordion-title {
                        i {
                            background: $optional-color;
                        }
                    }
                }
            }
        }
    }
}
.faq-contact-form {
    padding-left: 30px;

    form {
        .form-control {
            background-color: #ffffff;
            border-color: #f2effc;
            box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
            height: 55px;
            border-radius: 5px;
            font-size: 15px;
            padding: 10px 20px;
            &:focus {
                border-color: $main-color;
                box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
            }
        }
        .row {
            margin: {
                left: -10px;
                right: -10px;
            }
            .col-lg-12, .col-lg-6 {
                padding: {
                    left: 10px;
                    right: 10px;
                }
            }
        }
        .form-group {
            margin-bottom: 20px;
        }
        textarea.form-control {
            height: auto;
            padding-top: 20px;
        }
        .default-btn {
            margin-top: 5px;
            box-shadow: 0 5px 28.5px 1.5px rgba(0, 0, 255, 0.2);
        }
        .help-block {
            ul {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    top: 5px;
                    bottom: 0;
                }
                li {
                    color: red;
                }
            }
        }
        #msgSubmit {
            margin-bottom: 0;
            text-align: left !important;

            &.text-danger, &.text-success {
                margin-top: 8px;
                font: {
                    size: 23px;
                    weight: 700;
                }
            }
        }
    }
}