/*================================================
Features Area CSS
=================================================*/
.features-area {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.tab {
    .tabs_item {
        display: none;
        
        &:first-child {
            display: block;
        }
    }
}
.features-list-tab {
    .tabs {
        padding-left: 0;
        list-style-type: none;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            left: -5px;
            right: -5px;
            bottom: 40px;
        }
        li {
            -ms-flex: 0 0 16.6666666667%;
            -webkit-box-flex: 0;
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
            text-align: center;
            padding: {
                right: 5px;
                left: 5px;
            }
            div {
                display: block;
                cursor: pointer;
                border-radius: 2px;
                box-shadow: 0px 10px 40px 0px rgba(107, 125, 179, 0.11);
                padding: {
                    right: 18px;
                    top: 15px;
                    bottom: 18px;
                    left: 18px;
                }
                font: {
                    size: 17px;
                    weight: 700;
                }
                i {
                    color: $main-color;
                    transition: $transition;
                    font: {
                        weight: normal;
                        size: 40px;
                    }
                }
                &.bg-fa7070 {
                    i {
                        color: #fa7070;
                    }
                }
                &.bg-00aeff {
                    i {
                        color: #00aeff;
                    }
                }
                &.bg-c679e3 {
                    i {
                        color: #c679e3;
                    }
                }
                &.bg-eb6b3d {
                    i {
                        color: #eb6b3d;
                    }
                }
                &.bg-f78acb {
                    i {
                        color: #f78acb;
                    }
                }
                span {
                    display: block;
                    margin-top: 3px;
                }
            }
            &.current, &:hover {
                div {
                    background-color: $main-color;
                    color: $white-color;
                    box-shadow: 0px 10px 40px 0px rgba(0, 0, 255, 0.22);

                    i {
                        color: $white-color;
                    }
                }
            }
        }
    }
    .features-overview {
        -ms-flex-align: center!important;
        align-items: center!important;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            right: -15px;
            left: -15px;
        }
        .overview-content {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: {
                left: 15px;
                right: 15px;
            }
            .content {
                padding: {
                    left: 15px;
                    right: 15px;
                }
                .sub-title {
                    color: $main-color;
                    display: block;
                    text-transform: capitalize;
                    margin-bottom: 8px;
                    font: {
                        size: 15px;
                        weight: 600;
                    }
                }
                h2 {
                    margin-bottom: 10px;
                    font: {
                        size: 30px;
                    }
                }
                .features-list {
                    display: -ms-flexbox;
                    display: -webkit-box;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    padding-left: 0;
                    list-style-type: none;
                    margin: {
                        bottom: 0;
                        top: 10px;
                        left: -10px;
                        right: -10px;
                    }
                    li {
                        -ms-flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-top: 10px;
                        padding: {
                            left: 10px;
                            right: 10px;
                        }
                        span {
                            display: block;
                            background-color: #F8FAFF;
                            border-radius: 5px;
                            padding: 13px 12px 8px 40px;
                            z-index: 1;
                            position: relative;
                            transition: $transition;
                            font: {
                                weight: 600;
                                size: 15px;
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 0;
                                height: 100%;
                                border-radius: 5px;
                                background-color: $main-color;
                                z-index: -1;
                                transition: $transition;
                            }
                            i {
                                font-size: 12px;
                                color: $white-color;
                                background-color: $main-color;
                                width: 23px;
                                height: 23px;
                                line-height: 23px;
                                transition: $transition;
                                text-align: center;
                                border-radius: 3px;
                                position: absolute;
                                left: 8px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            &:hover {
                                color: $white-color;
            
                                &::before {
                                    width: 100%;
                                }
                                i {
                                    background-color: $white-color;
                                    color: $optional-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .overview-image {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: {
                left: 15px;
                right: 15px;
            }
            .image {
                padding: {
                    left: 15px;
                    right: 15px;
                }
            }
        }
    }
}