/*================================================
Featured Services Area CSS
=================================================*/
.featured-services-area {
    padding-bottom: 70px;

    &.ptb-100 {
        &.pt-0 {
            padding-top: 40px !important;
        }
    }
}
.single-featured-box {
    margin-bottom: 30px;
    text-align: center;
    background-color: #f9f9fc;
    position: relative;
    padding: 115px 30px 35px 30px;
    overflow: hidden;
    transition: $transition;

    .icon {
        color: $optional-color;
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 55px;
        margin: {
            top: -12px;
        }
        &.color-fb7756 {
            color: #fb7756;
        }
        &.color-facd60 {
            color: #facd60;
        }
        &.color-1ac0c6 {
            color: #1ac0c6;
        }
    }
    h3 {
        margin-bottom: 0;
        font: {
            size: 20px;
        }
    }
    p {
        margin: {
            top: 10px;
            bottom: 0;
        }
    }
    .default-btn {
        margin-top: 20px;
        background-color: transparent;
        color: $main-color;
        border: 1px solid $main-color;
        font-size: 14px;
        padding: {
            top: 14px;
            bottom: 10px;
            left: 30px;
            right: 35px;
        };
        &:hover {
            box-shadow: 0 5px 28.5px 1.5px rgba(0, 0, 255, 0.2);
        }
        span {
            background: $main-color;
        }
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        background-color: $white-color;

        .icon {
            animation: iconTop 0.4s ease-in-out;
        }
        .default-btn {
            background-color: $main-color;
            color: $white-color;
        }
    }
}
@keyframes iconTop {
    0% {
        transform: translate(-50%, 0);
    }
    25% {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    50% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}