/*================================================
Feedback Area CSS
=================================================*/
.feedback-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;

    &.bg-color {
        margin-top: -100px;

        .section-title {
            margin-bottom: 30px;
    
            .sub-title {
                color: $white-color;
            }
            h2 {
                color: $white-color;
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 60%;
            right: 0;
            z-index: -1;
            background-color: $main-color;
            margin: {
                left: 50px;
                right: 50px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .40;
            height: 60%;
            z-index: -1;
            background: {
                image: url(../../../images/bg_lines.svg);
                repeat: no-repeat;
                position: center;
                size: cover;
            }
            margin: {
                left: 50px;
                right: 50px;
            }
        }
    }
}
.single-feedback-item {
    position: relative;
    z-index: 1;
    background-color: $white-color;
    box-shadow: 0 0 15px #f1f1f1;
    padding: 30px;
    margin: {
        bottom: 30px;
    }
    p {
        color: #565968;
        margin-bottom: 0;
        font: {
            weight: normal;
            style: italic;
            size: 18px;
        }
    }
    .client-info {
        margin-top: 30px;
        position: relative;
        padding-left: 90px;

        img {
            width: 70px !important;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        h3 {
            margin-bottom: 0;
            font: {
                size: 20px;
            }
        }
        span {
            display: block;
            color: $main-color;
            margin-top: 3px;
            font-size: 15px;
        }
    }
}
.feedback-slides {
    padding: {
        left: 80px;
        right: 80px;
    }
    .single-feedback-item {
        box-shadow: 0px 5px 15px #f1f1f1;
        margin: {
            top: 30px;
            right: 15px;
            left: 15px;
            bottom: 30px;
        }
    }
    &.owl-theme {
        .owl-nav {
            &.disabled+.owl-dots {
                line-height: .01;
                margin: {
                    top: 10px;
                    bottom: 30px;
                }
            }
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 14px;
                    height: 14px;
                    margin: 0 5px;
                    background: #D6D6D6;
                    display: block;
                    transition: $transition;
                    border-radius: 50%;
                }
                &:hover, &.active {
                    span {
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}