/*================================================
Footer Area CSS
=================================================*/
.footer-area {
    padding-top: 120px;
    background-color: $dark-purple;
}
.single-footer-widget {
    margin-bottom: 60px;

    h3 {
        margin-bottom: 35px;
        color: $white-color;
        position: relative;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        font: {
            size: 24px;
        }
        &::before {
            bottom: -1px;
            left: 0;
            width: 55px;
            height: 1px;
            background-color: $white-color;
            content: '';
            position: absolute;
        }
    }
    .footer-contact-info {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            color: $white-color;
            padding-left: 55px;
            position: relative;
            margin-bottom: 25px;
            font-size: 14.5px;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                font-size: 35px;
                color: $optional-color;
                position: absolute;
                left: 0;
                top: 0;
            }
            span {
                display: block;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            a {
                display: inline-block;
                color: $white-color;
                font: {
                    size: 22px;
                    weight: 700;
                }
                &:hover {
                    color: $optional-color;
                }
            }
            .social {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    padding-left: 0;
                    margin: {
                        right: 15px;
                        bottom: 0;
                    }
                    a {
                        display: inline-block;

                        i {
                            position: relative;
                            color: $white-color;
                            font-size: 17px;
                            transition: $transition;
                        }
                        &:hover {
                            transform: translateY(-2px);

                            i {
                                color: $optional-color;
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .footer-quick-links {
        padding-left: 0;
        list-style-type: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            right: -15px;
            left: -15px;
            bottom: 0;
            top: -15px;
        }
        li {
            -ms-flex: 0 0 45%;
            flex: 0 0 45%;
            max-width: 45%;
            padding: {
                left: 15px;
                right: 15px;
                top: 15px;
            }
            a {
                display: inline-block;
                color: $white-color;

                &:hover {
                    color: $optional-color;
                }
            }
        }
    }
    .footer-instagram-post {
        padding-left: 0;
        list-style-type: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            right: -5px;
            left: -5px;
            bottom: 0;
            top: -10px;
        }
        li {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            padding: {
                left: 5px;
                right: 5px;
                top: 10px;
            }
            a {
                display: block;

                &:hover {
                    opacity: .60;
                }
            }
        }
    }
}
.copyright-area {
    margin-top: 50px;
    padding: {
        top: 25px;
        bottom: 25px;
    }
    p {
        color: rgba(255,255,255,0.1);
        margin-bottom: 0;
        font-size:0.9em;
        font-weight:300;
        a {
            display: inline-block;
            color: rgba(255,255,255,0.1);

            &:hover {
                color: $optional-color;
            }
        }
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        text-align: right;
        font-size:0.9em;
        font-weight:300;
        li {
            display: inline-block;
            margin: 0 15px;
            color: rgba(255,255,255,0.1);
            position: relative;

            a {
                display: inline-block;
                color: rgba(255,255,255,0.1);

                &:hover {
                    color: $optional-color;
                }
            }
            &::before {
                content: '';
                position: absolute;
                right: -15px;
                top: 3px;
                width: 1px;
                height: 14px;
                background-color: rgba(255,255,255,0.1);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}