/* Form control */
.form-control {
    height: 50px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 0;
    transition: $transition;
    color: $black-color;
    line-height: initial;
    padding-left: 13px;
    font: {
        size: 14.5px;
    }
    &:hover, &:focus {
        box-shadow: unset;
    }
    &::placeholder {
        color: #999999;
    }
    &:focus {
        box-shadow: unset;
        border-color: $main-color;
    }
}
textarea.form-control {
    padding-top: 13px;
}
.form-select {
    height: 50px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 0;
    transition: $transition;
    color: $black-color;
    line-height: initial;
    padding-left: 13px;
    font: {
        size: 14.5px;
    }
    &:hover, &:focus {
        box-shadow: unset;
    }
    &::placeholder {
        color: #999999;
    }
    &:focus {
        box-shadow: unset;
        border-color: $main-color;
    }
}

// Form content
.form-content {
    background-color: #FAFBFD;
    max-width: 500px;
    margin: 100px auto;
    padding: 40px 30px;

    .form-header {
        text-align: center;
        margin-bottom: 20px;

        h3 {
            font-weight: bold;
        }
        p {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 20px;
        label {
            margin-bottom: 3px;
        }
        &.form-check {
            label {
                font-size: 15px;
            }
        }
    }
 
    .default-btn {
        display: block;
        width: 100%;
    }

    .form-link {
        font-size: 15px;
        display: inline-block;
    }

    .form-footer {
        margin-top: 20px;
        text-align: center;
        p {
            margin: 0;
            a {
                margin: 0 3px;
                color: $main-color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.thank-you-area {
    text-align: center;
    h1 {
        margin-bottom: 20px;
    }
}