/*================================================
Fun Facts Area CSS
=================================================*/
.fun-facts-area {
    position: relative;
    z-index: 1;
    background: $main-color;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .40;
        height: 100%;
        z-index: -1;
        background: {
            image: url(../../../images/bg_lines.svg);
            repeat: no-repeat;
            position: center;
            size: cover;
        }
    }
}
.single-fun-facts {
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 30px;
    border: 1px dashed rgba(255, 255, 255, .4);
    border-radius: 5px;
    transition: $transition;

    h3 {
        position: relative;
        color: $white-color;
        margin-bottom: 0;
        font: {
            size: 50px;
        }
        .sign-icon {
            display: inline-block;
            font-size: 18px;
            margin-left: 2px;
        }
    }
    p {
        line-height: initial;
        margin-top: 5px;
        color: $white-color;
        font: {
            size: 17px;
            weight: 600;
        }
    }
    .back-text {
        position: absolute;
        left: 0;
        color: $white-color;
        right: 0;
        top: -5px;
        z-index: -1;
        opacity: .13;
        line-height: initial;
        font: {
            size: 150px;
            weight: 700;
            style: italic;
        }
    }
    &:hover {
        background-color: $main-color;
        transform: translateY(-10px);
        border-color: $white-color;
    }
}