
body {
    border-top:5px $main-color solid;
    padding: 0;
    margin: 0;
    font: {
        size: $font-size;
        family: $font-family;
    }
}

img {
    max-width: 100%;
    height: auto;
}
button {
    outline: 0 !important;
    &:focus {
        outline: 0 !important;
    }
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-F4F7FC {
    background-color: #F4F7FC;
}
.bg-fafafa {
    background-color: #fafafa;
}
.main-color {
    color: $main-color;
}
.plr-5 {
    padding: 0 5px;
}
.blog-ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px !important;
}
.mr-3 {
    margin-right: 10px;
}
.mr-4 {
    margin-right: 15px;
}

.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.gray-bg {
    background-color: $gray-color;
}
.bg-f4f7fe {
    background-color: #f4f7fe;
}


/* Section title */
.section-title {
    text-align: center;
    max-width: 600px;
    margin: {
        left: auto;
        right: auto;
        bottom: 55px;
    }
    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 8px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h2 {
        max-width: 560px;
        text-transform: capitalize;
        font: {
            weight: 800;
            size: 40px;
        }
        margin: {
            left: auto;
            right: auto;
            bottom: 0;
        }
    }
    p {
        margin: {
            top: 12px;
            bottom: 0;
        }
    }
}

.modal-video-body {
    max-width: 1440px;
}

.modal-video {
    background-color: rgba($main-color, .8);
}

.modal-video-movie-wrap {
    background-color: $dark-purple;
}