
a {
    text-decoration: none;
    transition: $transition;
    outline: 0 !important;
    color: $black-color;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }
}

/* default-btn */
.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: $white-color;
    text-transform: uppercase;
    background-color: $main-color;
    transition: $transition;
    border-radius: 5px;
    font: {
        weight: 600;
        size: 15px;
    }
    padding: {
        left: 35px;
        right: 35px;
        top: 17px;
        bottom: 13px;
    }
    span {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $optional-color;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 5px;
    }
    &:hover, &:focus {
        color: $white-color;

        span {
            width: 225%;
            height: 562.5px;
        }
    }
}