


/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: $dark-purple;
    padding: {
        top: 190px;
    };
}
.main-banner-content {
    text-align: center;
    max-width: 790px;
    margin: {
        left: auto;
        right: auto;
        bottom: 70px;
    };
    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h1 {
        line-height: 1.2;
        margin-bottom: 0;
        color:$lilac;
        font: {
            size: 60px;
        }
    }
    p {
        font-size: 17px;
        margin: {
            top: 15px;
            bottom: 0;
        }
    }
    .btn-box {
        margin-top: 25px;
    }
    form {
        position: relative;
        margin: {
            top: 30px;
        }
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: $white-color;
            border: none;
            height: 65px;
            padding-left: 25px;
            border-radius: 70px;
            padding-top: 5px;
            outline: 0;
            color: $black-color;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;

            &::placeholder {
                color: $paragraph-color;
            }
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: $main-color;
            color: $white-color;
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 70px;
            transition: $transition;
            line-height: 60px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: 700;
            }
            &:hover {
                background-color: $optional-color;
                color: $white-color;
            }
        }
    }
}
.main-banner-image {
    text-align: center;
    margin-bottom:-7px;
}
.banner-section {
    overflow: hidden;
    position: relative;
    background-color: $dark-purple;
    z-index: 1;
    height: 950px;
}
.banner-content {
    margin-top: -20px;

    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h1 {
        line-height: 1.2;
        margin-bottom: 0;
        font: {
            size: 59px;
        }
    }
    p {
        font-size: 17px;
        margin: {
            top: 15px;
            bottom: 0;
        }
    }
    form {
        max-width: 580px;
        position: relative;
        margin: {
            top: 30px;
        }
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: $white-color;
            border: none;
            height: 65px;
            padding-left: 25px;
            border-radius: 5px;
            padding-top: 5px;
            outline: 0;
            color: $black-color;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;

            &::placeholder {
                color: $paragraph-color;
            }
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: $main-color;
            color: $white-color;
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 5px;
            transition: $transition;
            line-height: 60px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: 700;
            }
            &:hover {
                background-color: $optional-color;
                color: $white-color;
            }
        }
    }
}
.banner-image {
    position: relative;
    text-align: center;

    div {
        &:nth-child(1) {
            position: absolute;
            z-index: 1;
            bottom: -180px;
            left: 65px;
            right: 0;
            margin: 0 auto;
        }
        &:nth-child(2) {
            position: relative;
            left: 35px;
            top: 150px;
            z-index: -1;
        }
    }
}
.cloud-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}
.cloud-icon {
    position: absolute;
    right: 15%;
    top: 20%;
    transform: translateY(-20%) translateX(-15%);
    z-index: -1;
}
.cloud-icon1 {
    position: absolute;
    z-index: -1;
    top: 12%;
    right: 36.5%;
    animation: moveLeftBounce 3s linear infinite;
}
.cloud-icon2 {
    position: absolute;
    z-index: -1;
    top: 36%;
    right: 20%;
    animation: moveLeftBounce 5s linear infinite;
}
.cloud-icon3 {
    position: absolute;
    z-index: -1;
    top: 48%;
    right: 40%;
    animation: moveLeftBounce 3s linear infinite;
}
.shape-img1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    max-width: 220px;
}
.shape-img2 {
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: -1;
    animation-name: rotateMe;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.shape-img3 {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: -1;
    animation-name: rotateMe;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.shape-img4 {
    position: absolute;
    right: 8%;
    top: 8%;
    z-index: -1;
    animation: animationFramesTwo 20s infinite linear;
}
.shape-img5 {
    position: absolute;
    left: 2%;
    bottom: 25%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}
.shape-img6 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
    bottom: 0;
    animation: rotate3d 4s linear infinite;

    img {
        opacity: .20;
    }
}
.shape-img7 {
    position: absolute;
    left: 10%;
    top: 35%;
    z-index: -1;
    animation: moveBounce 5s linear infinite;
    img {
        opacity: .30;
    }
}
.shape-img8 {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    animation: moveLeftBounce 5s linear infinite;

    img {
        opacity: .40;
    }
}
.shape-img9 {
    position: absolute;
    left: 20%;
    top: 15%;
    z-index: -1;
    animation: moveScale 3s linear infinite;

    img {
        opacity: .40;
    }
}
.shape-img10 {
    position: absolute;
    left: 75%;
    z-index: -1;
    top: 40%;
    animation: animationFramesOne 20s infinite linear;
}
@keyframes rotateMe {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes animationFramesOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
@keyframes animationFramesTwo {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(-73px, 1px) rotate(-36deg);
    }
    40% {
        transform: translate(-141px, -72px) rotate(-72deg);
    }
    60% {
        transform: translate(-83px, -122px) rotate(-108deg);
    }
    80% {
        transform: translate(40px, -72px) rotate(-144deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
@keyframes rotate3d {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes moveScale {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.6);
    }
}
@keyframes moveLeftBounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes moveBounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero-banner {
    overflow: hidden;
    height: 900px;
    position: relative;
    z-index: 1;
    
    &.banner-bg1 {
        background: transparent url(../../../images/banner-bg1.jpg) right top no-repeat;
        border-bottom: 1px solid #f7f7f7;
    }
    &.banner-bg2 {
        background: transparent url(../../../images/banner-bg2.jpg) left top no-repeat;
        border-bottom: 1px solid #f7f7f7;
    }
    .container-fluid {
        max-width: 1920px;
    }
}
.hero-banner-content {
    max-width: 635px;
    margin: {
        top: 85px;
        left: auto;
    };
    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h1 {
        line-height: 1.2;
        margin-bottom: 0;
        font: {
            weight: 800;
            size: 59px;
        }
    }
    p {
        font-size: 17px;
        margin: {
            top: 15px;
            bottom: 0;
        }
    }
    .btn-box {
        margin-top: 25px;
    }
    form {
        position: relative;
        margin: {
            top: 30px;
        }
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: $white-color;
            border: none;
            height: 65px;
            padding-left: 25px;
            border-radius: 70px;
            padding-top: 5px;
            outline: 0;
            color: $black-color;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;

            &::placeholder {
                color: $paragraph-color;
            }
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: $main-color;
            color: $white-color;
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 70px;
            transition: $transition;
            line-height: 60px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: 700;
            }
            &:hover {
                background-color: $optional-color;
                color: $white-color;
            }
        }
    }
}
.hero-banner-image {
    position: relative;
    text-align: center;
    margin: {
        left: 30px;
        right: 50px;
        top: 85px;
    }
    div {
        &:nth-child(2) {
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &:nth-child(3) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
.hero-main-banner-content {
    margin: {
        top: 85px;
    };
    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h1 {
        line-height: 1.2;
        margin-bottom: 0;
        font: {
            weight: 800;
            size: 59px;
        }
    }
    p {
        font-size: 17px;
        margin: {
            top: 15px;
            bottom: 0;
        }
    }
    .btn-box {
        margin-top: 25px;
    }
    form {
        position: relative;
        margin: {
            top: 30px;
        }
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: $white-color;
            border: none;
            height: 65px;
            padding-left: 25px;
            border-radius: 70px;
            padding-top: 5px;
            outline: 0;
            color: $black-color;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;

            &::placeholder {
                color: $paragraph-color;
            }
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: $main-color;
            color: $white-color;
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 70px;
            transition: $transition;
            line-height: 60px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: 700;
            }
            &:hover {
                background-color: $optional-color;
                color: $white-color;
            }
        }
    }
}
.hero-main-banner-image {
    position: relative;
    right: -20px;
    margin: {
        top: 85px;
        
    };
    div {
        position: absolute;

        &:nth-child(1) {
            z-index: 3;
            top: -130px;
            left: -18px;
        }
        &:nth-child(2) {
            right: 145px;
            top: -287px;
        }
        &:nth-child(3) {
            left: 25px;
            top: -20px;
        }
        &:nth-child(4) {
            right: 12%;
            top: 118px;
            z-index: 1;
        }
        &:nth-child(5) {
            left: 28%;
            top: -120px;
            z-index: 2;
        }
        &:nth-child(6) {
            right: 35%;
            z-index: 1;
            top: -150px;
        }
        &:nth-child(7) {
            right: 20px;
            top: -110px;
        }
        &:nth-child(8) {
            right: 25px;
            top: -140px;
        }
        &:nth-child(9) {
            right: 30%;
            z-index: 1;
            top: -35px;
        }
        &:nth-child(10) {
            left: 37%;
            top: -28px;
            z-index: 1;
        }
        &:nth-child(11) {
            left: 37%;
            top: -160px;
            z-index: 1;
        }
        &:nth-child(12) {
            left: 90px;
            top: -110px;
        }
        &:nth-child(13) {
            left: 56%;
            top: -25px;
            z-index: 2;
        }
        &:nth-child(14) {
            right: 105px;
            top: -28px;
        }
        &:last-child {
            display: none;
        }
    }
}