/*================================================
Navbar Area CSS
=================================================*/
.adani-nav {
    background-color: transparent;
    padding: {
        top: 15px;
        bottom: 15px;
        right: 0;
        left: 0;
    }
    .navbar {
        padding: {
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
        }
        .mxb-logo {
            width:80px;
            > div {
                svg {
                    #Layer_1-2 {
                        //whole logo
                        path {
                            fill:$lilac;
                        }
                        //just B
                        path:nth-of-type(1) {
                            
                        }
                        //just M
                        path:nth-of-type(2) {
                            
                        }   
                        //just X
                        path:nth-of-type(3) {
                            
                        }
                    }
                }
            }
        }
        .navbar-nav {
            margin: {
                left: auto;
            }
            .nav-item {
                position: relative;
                &.has-dropdown {
                    position: initial;
                    
                }
                padding: {
                    top: 15px;
                    bottom: 15px;
                    left: 0;
                    right: 0;
                }
                span {
                    background:$optional-color;
                    color:$white-color;
                    display:block;
                    position:absolute;
                    right:3px;
                    top:10px;
                    width:12px;
                    height:12px;
                    line-height:12px;
                    border-radius:50%;
                    font-size:9px;
                    text-align:center;
                    font-weight:300;
                }
                a {
                    font: {
                        size: 0.9em;
                        weight: 600;
                    }
                    color: $lilac;
                    text-transform: uppercase;
                    padding: {
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    margin: {
                        left: 15px;
                        right: 15px;
                    }
                    &:hover, &:focus, &.active {
                        color: $main-color;
                    }
                    i {
                        font-size: 10px;
                        position: relative;
                        top: -1px;
                        margin-left: 1px;
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
                &:hover, &:focus, &.active {
                    a {
                        color: $optional-color;
                    }
                }
                .dropdown-menu {
                    background:transparent;
                    position: absolute;
                    border: none;
                    top: 120px;
                    left: 0;
                    width: 100%;
                    z-index: 99;
                    display:block;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 0;
                    transition: all 0.3s ease-in-out;
                    padding: {
                        top:15px;
                        bottom:0;
                        left:0;
                        right:0;
                    };
                    .inner {
                        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
                        border-top: 3px solid $main-color;
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap:wrap;
                        flex-direction: row;
                        background: $white-color;
                        display:flex;
                        width:100%;
                        .menu-section {
                            padding: {
                                top: 40px;
                                bottom: 40px;
                                left: 40px;
                                right: 40px;
                            }
                            text-align:left;
                            border-right:1px solid #eee;
                            width:calc(100% / 5);
                            position:relative;
                            overflow:hidden;
                            .menu-icon {
                                font-size:7em;
                                position:absolute;
                                left:-10px;
                                top:15px;
                                color:#eee;
                                color:$dark-purple;
                                opacity:0.02;
                                z-index:0;
                            }
                            h3 {
                                z-index:1;
                                position:relative;
                                font-size:1.5em;
                                color:$dark-purple;
                            }
                            .inner-sub-menu {
                                z-index:1;
                                position:relative;
                                .nav-item {
                                    line-height:1;
                                    a {
                                        font: {
                                            weight: 400;
                                        }
                                        
                                    }
                                }
                                &.extra-sub-menu {
                                    margin-top:15px;
                                    padding-top:25px;
                                    border-top:1px dashed #eee;
                                    .nav-link {
                                        font-size: 0.8em;
                                        margin-top:7px;
                                        margin-bottom:0;
                                        line-height:1;
                                        text-align:center;
                                    } 
                                    .default-btn {
                                        color:$white-color;
                                        background:$teal;
                                        display:block;
                                        font-weight: 600;
                                        text-transform:uppercase;
                                        font-size: 14px;
                                        padding: 17px 35px;
                                        &:hover {
                                            background:darken($teal, 4%);
                                        }
                                    }
                                }
                            }
                            &:last-of-type {
                                border-right:none;
                            }
                        }
                    }
                    


                    li {
                        padding: 0;

                        a {
                            text-transform: capitalize;
                            padding: 8px 0;
                            margin: 0;
                            color: #696997;
                            font: {
                                size: 0.9em;
                            }
                            &:hover, &:focus, &.active {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            left: -245px;
                            top: 0;
                            opacity: 0;
                            visibility: hidden;
                            
                            li {
                                a {
                                    color: #696997;
                                    
                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                                .dropdown-menu {
                                    left: -245px;
                                    top: 0;
                                    opacity: 0;
                                    visibility: hidden;
        
                                    li {
                                        a {
                                            color: #696997;
                                            text-transform: capitalize;
        
                                            &:hover, &:focus, &.active {
                                                color: $main-color;
                                            }
                                        }
                                        .dropdown-menu {
                                            left: -245px;
                                            top: 0;
                                            opacity: 0;
                                            visibility: hidden;
                
                                            li {
                                                a {
                                                    color: #696997;
                                                    text-transform: capitalize;
                
                                                    &:hover, &:focus, &.active {
                                                        color: $main-color;
                                                    }
                                                }
                                                .dropdown-menu {
                                                    left: 195px;
                                                    top: 0;
                                                    opacity: 0;
                                                    visibility: hidden;
                        
                                                    li {
                                                        a {
                                                            color: #696997;
                                                            text-transform: capitalize;
                        
                                                            &:hover, &:focus, &.active {
                                                                color: $main-color;
                                                            }
                                                        }
                                                        .dropdown-menu {
                                                            left: 195px;
                                                            top: 0;
                                                            opacity: 0;
                                                            visibility: hidden;
                                
                                                            li {
                                                                a {
                                                                    color: #696997;
                                                                    text-transform: capitalize;
                                
                                                                    &:hover, &:focus, &.active {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                                .dropdown-menu {
                                                                    left: 195px;
                                                                    top: 0;
                                                                    opacity: 0;
                                                                    visibility: hidden;
                                        
                                                                    li {
                                                                        a {
                                                                            color: #696997;
                                                                            text-transform: capitalize;
                                        
                                                                            &:hover, &:focus, &.active {
                                                                                color: $main-color;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                &.active {
                                                                    a {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                                &:hover {
                                                                    .dropdown-menu {
                                                                        opacity: 1;
                                                                        visibility: visible;
                                                                        top: 0px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: $main-color;
                                                            }
                                                        }
                                                        &:hover {
                                                            
                                                            .dropdown-menu {
                                                                opacity: 1;
                                                                visibility: visible;
                                                                top: 0px;
                                                                
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: $main-color;
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        opacity: 1;
                                                        visibility: visible;
                                                        top: -15px;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: $main-color;
                                            }
                                        }
                                        &:hover {
                                            .dropdown-menu {
                                                opacity: 1;
                                                visibility: visible;
                                                top: -15px;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: $main-color;
                                    }
                                }
                                &:hover {
                                    .dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                        top: -15px;
                                    }
                                }
                            }
                        }
                        &.active {
                            a {
                                color: $main-color;
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                visibility: visible;
                                top: -15px;
                            }
                        }
                    }
                }
                &:hover {
                    &.has-dropdown {
                    }
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
            }
        }
        .others-options {
            margin-left: 30px;
            .cart-items {
                position: relative;
                display: inline-block;
                margin-right: 30px;
                
                a {
                    color: $paragraph-color;
                    &:hover {
                        color: $main-color;
                    }
                }

                span {
                    position: absolute;
                    background-color: #ff3547;
                    color: #fff;
                    font-size: 10px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 22px;
                    border-radius: 50%;
                    top: -10px;
                    right: -16px;
                }
            }
            .option-item {
                color: #5b5b98;
                display: inline-block;
                position: relative;
                line-height: 1;

                .search-btn {
                    cursor: pointer;
                    transition: $transition;
                    color: #5b5b98;
                    font: {
                        size: 20px;
                        weight: 600;
                    }
                    &:hover {
                        color: $main-color;
                    }
                }
                .close-btn {
                    cursor: pointer;
                    display: none;
                    transition: $transition;
                    width: 20px;
                    color: #5b5b98;
                    font-size: 18px;
                    padding: 0 5px;
    
                    &.active {
                        display: block;
                    }
                    &:hover {
                        color: $main-color;
                    }
                }
            }
            .burger-menu {
                width: 35px;
                height: auto;
                background-color: transparent;
                margin-left: 20px;
                cursor: pointer;
                display: inline-block;
                position: relative;
                top: 1px;
        
                span {
                    display: block;
                    width: 35px;
                    height: 3px;
                    background: #5b5b98;
                    transition: $transition;
                    border-radius: 30px;
                    margin: {
                        left: auto;
                        bottom: 4px;
                    }
                    &:nth-child(3) {
                        margin-bottom: 0;
                        width: 28px;
                        margin-left: auto;
                    }
                }
                &:hover {
                    span {
                        background: $black-color;

                        &:nth-child(3) {
                            width: 35px;
                        }
                    }
                }
            }
        }
    }
}
.navbar-area {
    background-color: transparent;
    transition: $transition;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: {
        top: 35px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &.is-sticky {
        padding: {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        background: $white-color !important;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        transition: $transition;
        .adani-nav {
            .navbar {
                .mxb-logo {
                    > div {
                        svg {
                            #Layer_1-2 {
                                //whole logo
                                path {
                                    fill:$main-color;
                                }
                                //just B
                                path:nth-of-type(1) {
                                    
                                }
                                //just M
                                path:nth-of-type(2) {
                                    
                                }   
                                //just X
                                path:nth-of-type(3) {
                                    
                                }
                            }
                        }
                    }
                }
                .navbar-nav {
                    .nav-item {
                        a {
                            color:$dark-purple;
                            &:hover {
                                color:$optional-color;
                            }
                        }
                        .active {
                            color:$main-color;
                            &:hover {
                                color:$main-color;
                            }
                        }
                    }
                }
            }
        }
        
    }

    .new {
        position: absolute;
        font-size: 8px;
        line-height: 1;
        color: #fff;
        background-color: #002396;
        -webkit-box-shadow: rgba(75, 109, 235, 0.57) 0 8px 19.74px -2px;
        box-shadow: rgba(75, 109, 235, 0.57) 0 8px 19.74px -2px;
        z-index: 1;
        pointer-events: none;
        border-radius: 4px;
        padding: 4px 5px 3px;
        margin: -3px 0 0 5px;
    }
}
.search-overlay {
    display: none;

    &.search-popup {
        position: absolute;
        top: 100%;
        width: 300px;
        right: 0;
        background: $white-color;
        z-index: 2;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        margin-top: 25px;

        .search-form {
            position: relative;
            
            .search-input {
                display: block;
                width: 100%;
                height: 45px;
                line-height: initial;
                border: 1px solid #eeeeee;
                color: $black-color;
                outline: 0;
                transition: $transition;
                font-size: 13px;
                padding: 10px 15px;

                &:focus {
                    border-color: $main-color;
                }
            }
            .search-button {
                position: absolute;
                right: 0;
                top: 0;
                height: 45px;
                background: transparent;
                border: none;
                width: 45px;
                outline: 0;
                color: $paragraph-color;
                transition: $transition;
                padding: 0;

                &:hover, &:focus {
                    color: $main-color;
                }
            }
        }
    }
}
.sidebar-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    overflow: hidden;

    .sidebar-modal-inner {
        position: absolute;
        right: -100%;
        top: 0;
        width: 30%;
        overflow-y: scroll;
        height: 100%;
        background-color: $white-color;
        transition: .7s;
        z-index: 1;
        padding: {
            top: 80px;
            bottom: 40px;
            left: 40px;
            right: 40px;
        }
        .close-btn {
            display: inline-block;
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 20px;
            transition: $transition;
            color: $black-color;
            opacity: .66;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
    .sidebar-about-area {
        margin: {
            bottom: 40px;
        }
        .title {
            h2 {
                margin-bottom: 0;
                font: {
                    size: 24px;
                    weight: 700;
                }
            }
            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
    }
    .sidebar-instagram-feed {
        margin: {
            bottom: 40px;
        }
        h2 {
            margin-bottom: 25px;
            font: {
                size: 24px;
            }
        }
        ul {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            list-style-type: none;
            margin: {
                left: -5px;
                right: -5px;
                bottom: 0;
                top: -10px;
            }
            li {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
                padding: {
                    left: 5px;
                    right: 5px;
                    top: 10px;
                }
                a {
                    display: block;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        transition: $transition;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover {
                        &::before {
                            opacity: .50;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .sidebar-contact-area {
        .contact-info {
            text-align: center;
        
            .contact-info-content {
                h2 {
                    margin-bottom: 0;
                    font: {
                        size: 20px;
                    }
                    a {
                        display: inline-block;
                        color: $main-color;
        
                        &:hover {
                            color: $black-color;
                        }
                        &:not(:first-child) {
                            color: $black-color;
        
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                    .or {
                        display: block;
                        color: $paragraph-color;
                        margin: {
                            top: 10px;
                            bottom: 10px;
                        }
                        font: {
                            size: 14px;
                            weight: 600;
                        }
                    }
                }
                .social {
                    padding-left: 0;
                    list-style-type: none;
                    margin: {
                        bottom: 0;
                        top: 20px;
                    }
                    li {
                        display: inline-block;
                        margin: 0 3px;
                        padding-left: 0;

                        a {
                            i {
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                border: 1px solid #dadada;
                                border-radius: 50%;
                                color: #aba5a5;
                                display: block;
                                font-size: 12px;
                                transition: .6s;

                                &:hover {
                                    color: $white-color;
                                    border-color: $main-color;
                                    background-color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        
        .sidebar-modal-inner {
            right: 0;
        }
    }
}

// Navbar toggler 
.navbar-toggler {
    border: none;
    background: #eee !important;
    padding: 10px;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }

    .icon-bar {
        width: 28px;
        transition: all 0.3s;
        background: $main-color;
        height: 2px;
        display: block;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        left: 4px;
        position: relative;
    }
    .middle-bar {
        opacity: 0;
        margin: 6px 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        left: 4px;
        position: relative;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);      
            left: 0;
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
            left: 0;
        }
    }
}