/*================================================
Overview Area CSS
=================================================*/
.overview-box {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: {
        right: -15px;
        left: -15px;
        bottom: 100px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .overview-content {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: {
            left: 15px;
            right: 15px;
        }
        .content {
            padding-right: 30px;

            .sub-title {
                color: $main-color;
                display: block;
                text-transform: uppercase;
                margin-bottom: 8px;
                font: {
                    size: 15px;
                    weight: 600;
                }
            }
            h2 {
                margin-bottom: 10px;
                font: {
                    size: 35px;
                }
            }
            .features-text {
                margin-top: 25px;
        
                h4 {
                    margin-bottom: 15px;
                    font: {
                        size: 18px;
                        weight: 600;
                    }
                    i {
                        font-size: 16px;
                        margin-right: 4px;
                        color: $main-color;
                    }
                }
            }
            &.right-content {
                padding: {
                    left: 30px;
                    right: 0;
                }
            }
            .features-list {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding-left: 0;
                list-style-type: none;
                margin: {
                    bottom: 0;
                    top: 10px;
                    left: -10px;
                    right: -10px;
                }
                li {
                    -ms-flex: 0 0 50%;
                    -webkit-box-flex: 0;
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    padding: {
                        left: 10px;
                        right: 10px;
                    }
                    span {
                        display: block;
                        background-color: #F8FAFF;
                        border-radius: 5px;
                        padding: 13px 12px 8px 40px;
                        z-index: 1;
                        position: relative;
                        transition: $transition;
                        font: {
                            weight: 600;
                            size: 15px;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 0;
                            height: 100%;
                            border-radius: 5px;
                            background-color: $main-color;
                            z-index: -1;
                            transition: $transition;
                        }
                        i {
                            font-size: 12px;
                            color: $white-color;
                            background-color: $main-color;
                            width: 23px;
                            height: 23px;
                            line-height: 23px;
                            transition: $transition;
                            text-align: center;
                            border-radius: 3px;
                            position: absolute;
                            left: 10px;
                            top: 9px;
                        }
                        &:hover {
                            color: $white-color;
        
                            &::before {
                                width: 100%;
                            }
                            i {
                                background-color: $optional-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .overview-image {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: {
            left: 15px;
            right: 15px;
        }
        .image {
            text-align: center;
        }
    }
}