/*================================================
Pagination Area CSS
=================================================*/
.pagination-area {
    margin-top: 30px;
    text-align: center;

    .page-numbers {
        width: 45px;
        height: 45px;
        margin: 0 5px;
        display: inline-block;
        background-color: $white-color;
        line-height: 49px;
        color: $black-color;
        box-shadow: 0 2px 10px 0 #d8dde6;
        border-radius: 50%;
        font: {
            size: 13px;
            weight: 700;
        }
        &.current, &:hover, &:focus {
            background: $main-color;
            color: $white-color;
            box-shadow: 0 2px 10px 0 #d8dde6;
        }
    }
}