/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background:$dark-purple;
}
.page-title-content {
    position: relative;
    margin-top: 70px;
    padding-top:100px;
    text-align: center;

    h2 {
        margin-bottom: 0;
        position: relative;
        padding-bottom: 10px;
        color:$lilac;
        font: {
            size: 40px;
            weight: 800;
        }
        &::before {
            width: 30px;
            height: 2px;
            background-color: $optional-color;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 20px;
        }
        li {
            position: relative;
            display: inline-block;
            color: $main-color;
            font-size: 16px;
            margin: {
                left: 12px;
                right: 16px;
            }
            a {
                display: inline-block;
                color: $paragraph-color;

                &:hover {
                    color: $optional-color;
                }
            }
            &::before {
                content: "\f054";
                position: absolute;
                right: -18px;
                top: 3px;
                color: $paragraph-color;
                font: {
                    weight: 900;
                    family: "Font Awesome 5 Free";
                    size: 12px;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}