/*================================================
Pricing Area CSS
=================================================*/
.pricing-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: {
        image: url(../../../images/shape-wave.png);
        size: cover;
        repeat: no-repeat;
    }
}
.single-pricing-box {
    margin-bottom: 30px;
    text-align: center;
    background-color: $white-color;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 30px 28px 30px;
    border-radius: 5px;
    transition: $transition;

    .pricing-header {
        position: relative;
        z-index: 1;
        background-color: $main-color;
        margin: -40px -30px 30px -30px;
        border-radius: 5px 5px 0 0;
        padding: {
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 25px;
        }
        h3 {
            color: $white-color;
            font: {
                size: 24px;
            }
            margin: {
                bottom: 0;
            }
        }
    }
    .price {
        color: $black-color;
        line-height: 50px;
        align-items: baseline;
        position: relative;
        z-index: 1;
        font: {
            size: 50px;
            weight: 700;
        }
        sub {
            line-height: 16px;
            color: $paragraph-color;
            margin: 0 8px 0 6px;
            position: relative;
            top: -4px;
            display: inline-block;
            font: {
                weight: 600;
                size: 16px;
            }
        }
    }
    .price-features-list {
        text-align: left;
        padding: 30px 30px;
        margin: 25px -30px 30px -30px;
        list-style-type: none;
        border: {
            bottom: 1px solid #eeeeee;
            top: 1px solid #eeeeee;
        }
        li {
            position: relative;
            padding: {
                top: 8px;
                bottom: 8px;
                right: 25px;
            }
            color: $paragraph-color;
            font: {
                weight: 500;
                size: 17px;
            }
            i {
                font-size: 14px;
                color: $main-color;
                position: absolute;
                right: 0;
                top: 10px;

                &.flaticon-tick {
                    color: #6ac04f;
                }
                &.flaticon-close {
                    color: #dd5252;
                    font-size: 13px;
                    top: 12px;
                }
            }
        }
    }
    .get-started-btn {
        display: inline-block;
        color: $main-color;
        position: relative;
        font: {
            weight: 600;
            size: 18px;
        }
        &::before {
            width: 0;
            height: 1px;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $main-color;
            transition: $transition;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &.red {
        .pricing-header {
            background-color: #fc6765;
        }
        .get-started-btn {
            color: #fc6765;

            &::before {
                background-color: #fc6765;
            }
        }
    }
    &.orange {
        .pricing-header {
            background-color: #ffa143;
        }
        .get-started-btn {
            color: #ffa143;

            &::before {
                background-color: #ffa143;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);
    }
}

// Single pricing table
.pricing-area-two {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.single-pricing-table {
    margin-bottom: 30px;
    background-color: $white-color;
    padding-bottom: 30px;
    border-radius: 5px;
    transition: $transition;

    .pricing-header {
        padding: 20px 40px;

        .icon {
            background-color: #ececff;
            width: 120px;
            height: 120px;
            text-align: center;
            line-height: 120px;
            border-radius: 50%;
            margin: 0 auto 25px;
            img {
                max-width: 70px;
            }
        }
        h3 {
            margin-bottom: -5px;
            font-size: 20px;
        }
        p {
            margin: 10px 0 -10px;
            font-size: 15px;
        }
    }
    .price {
        color: $black-color;
        transition: $transition;
        padding: 10px 40px 0;
        border-top: 2px dashed #f4f5fe;
        border-bottom: 2px dashed #f4f5fe;
        font-size: 40px;
        font-weight: 900;

        sup {
            top: -18px;
            font-size: 18px;
            font-weight: 500;
        }

        sub {
            bottom: 2px;
            color: #4a6f8a;
            padding-right: 5px;
            font-size: 14px;
            font-weight: 500;
        }
    }
    
    .pricing-features {
        margin: 0;
        padding: 30px 40px;
        list-style-type: none;
        li {
            margin-bottom: 10px;
            position: relative;
            color: #444683;
            padding-left: 25px;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                color: $main-color;
                position: absolute;
                left: 0;
                top: 2px;
            }
            span {
                display: inline-block;
                color: #b7bad2;
                font-size: 20px;
                position: absolute;
                top: 1px;
                margin-left: 3px;
            }
        }
    }
    .btn-box {
        padding: 0 40px;
    }
    &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        transform: translateY(-10px);
    }

    &.center {
        text-align: center;

        .pricing-features {
            text-align: left;
            li {
                padding-left: 0;
                padding-right: 25px;
                i {
                    left: auto;
                    right: 0;
                }
            }
        }
        .default-btn {
            display: block;
            width: 100%;
        }
    }
}