/*================================================
Projects Area CSS
=================================================*/
.projects-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    .container-fluid {
        max-width: 1920px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.single-projects-box {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    .projects-content {
        position: absolute;
        left: 0;
        bottom: 15px;
        background-color: $white-color;
        height: auto;
        width: 100%;
        padding: 25px 20px 20px;
        transition: transform .3s ease,opacity .3s;
        max-width: 370px;
        transform: translate3d(-100%, 0, 0);
        
        h3 {
            margin-bottom: 0;
            transform: translateX(20px);
            transition: transform .3s ease,opacity .3s;
            opacity: 0;
            font: {
                size: 24px;
            }
        }
        .category {
            display: block;
            margin-top: 8px;
            font-size: $font-size;
            color: $paragraph-color;
            opacity: 0;
            transform: translateX(20px);
            transition: transform .4s ease;
        }
    }
    .plus-icon {
        a {
            background-color: $main-color;
            width: 85px;
            height: 85px;
            position: absolute;
            top: 25px;
            right: 25px;
            transform: scale(0);
            transition: all .4s ease-out 0s;
            overflow: hidden;
            border-radius: 50%;

            span {
                width: 35px;
                height: 35px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                &::after, &::before {
                    position: absolute;
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: $white-color;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::after {
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            &:hover {
                background-color: $optional-color;
            }
        }
    }
    &:hover {
        .projects-content {
            transition: transform .5s ease;
            transform: translate3d(0, 0, 0);

            h3 {
                opacity: 1;
                transform: translateX(0);
                transition: transform .5s ease .5s,opacity .5s .3s;
            }
            .category {
                opacity: 1;
                transform: translateX(0);
                transition: transform .5s ease .6s,opacity .5s .6s;
            }
        }
        .plus-icon {
            a {
                transform: scale(1);
            }
        }
    }
}
.projects-slides {
    &.owl-theme {
        .owl-nav {
            &.disabled+.owl-dots {
                line-height: .01;
                margin: {
                    top: 10px;
                    bottom: 30px;
                }
            }
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 14px;
                    height: 14px;
                    margin: 0 5px;
                    background: #D6D6D6;
                    display: block;
                    transition: $transition;
                    border-radius: 50%;
                }
                &:hover, &.active {
                    span {
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}

/*================================================
Projects Details Area CSS
=================================================*/
.project-details-image {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;

    img {
        transition: $transition;
    }
    .btn {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 30px;
        background-color: $main-color;
        border-radius: 50%;
        text-align: center;
        color: $white-color;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
        padding: 0;

        &:hover {
            background-color: $optional-color;
            color: $white-color;
        }
    }
    &:hover {
        .btn {
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
        img {
            transform: scale(1.3) rotate(4deg);
        }
    }
}
.projects-details-desc {
    margin-top: 5px;

    h3 {
        margin-bottom: 13px;
        font: {
            size: 24px;
        }
    }
    .features-text {
        margin: {
            top: 25px;
            bottom: 25px;
        }
        h4 {
            margin-bottom: 12px;
            font: {
                size: 17px;
                weight: 600;
            }
            i {
                font-size: 16px;
                margin-right: 4px;
                color: $main-color;
            }
        }
    }
    .project-details-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            right: -15px;
            left: -15px;
            top: 35px;
        }
        .single-info-box {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            padding: {
                left: 15px;
                right: 15px;
            }
            h4 {
                margin-bottom: 10px;
                font: {
                    size: 19px;
                }
            }
            span {
                display: block;
                color: $paragraph-color;
                font-size: 15px;
            }
            .social {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 15px;

                    a {
                        color: $paragraph-color;
                        display: inline-block;

                        &:hover {
                            color: $main-color;
                            transform: translateY(-5px);
                        }
                    }
                }
            }
        }
    }
}

// Work Card 
.works-area {
    .more-work {
        margin-top: 20px;
        text-align: center;
    }
}
.work-card {
    margin-bottom: 30px;
    position: relative;
    transition: $transition;

    &::before {
        content: '';
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        width: 100%;
        height: 90%;
        left: 0;
        bottom:0;
        position: absolute;
        border-radius: 8px;
        transition: $transition;
        z-index: 1;
    }

    &:hover::before {
        background-color: rgba(0, 0, 0, 0.80);
    }

    img {
        border-radius: 8px;
        width: 100%;
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 30px;
        transition: $transition;
        z-index: 5;
        
        span {
            display: block;
            margin-bottom: 10px;
            font-size: 15px;
            a {
                color: $white-color;
            }
        }
        h3 {
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 20px;
        }
        .work-btn {
            background-color: $white-color;
            color: $main-color;
            padding: 10px 20px 5px;
            border-radius: 30px;
            font-size: 15px;
            &:hover {
                background-color: $black-color;
                color: $white-color;
            }
        }

        a {
            color: $white-color;
        }
    }

    &:hover {
        &::before {
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(rgb(0, 0, 255), 0), rgba(rgb(0, 0, 255), 1));
        }
        .content {
            bottom: 20px;
        }
    }
}