/*================================================
Services Area CSS
=================================================*/
.services-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}
.single-services-box {
    margin-bottom: 30px;
    background-color: $white-color;
    padding: 40px 30px;
    position: relative;
    transition: $transition;
    z-index: 1;
    text-align: center;

    .icon {
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 75px;
        background-color: rgba(250, 112, 112, 0.1);
        border-radius: 50%;
        color: $optional-color;
        transition: $transition;
        font-size: 35px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;

        &.bg-f78acb {
            background-color: rgba(247, 138, 203, 0.2);
            color: #f78acb;
        }
        &.bg-cdf1d8 {
            background: rgba(68, 206, 111, 0.2);
            color: #44ce6f;
        }
        &.bg-c679e3 {
            color: #c679e3;
            background: rgba(198, 121, 227, 0.2);
        }
        &.bg-eb6b3d {
            color: #eb6b3d;
            background: rgba(235, 107, 61, 0.2);
        }
        &.bg-00aeff {
            background: rgba(0, 174, 255, 0.2);
            color: #00aeff;
        }
    }
    h3 {
        transition: .4s;
        margin-bottom: 0;
        font: {
            size: 22px;
        }
        a {
            display: inline-block;
        }
    }
    p {
        transition: .4s;
        margin: {
            top: 10px;
            bottom: 0;
        }
    }
    .read-more-btn {
        color: $main-color;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .6s;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;

        font: {
            size: $font-size;
            weight: 400;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 0;
            transition: $transition;
            height: 1px;
            background: $main-color;
        }
        i {
            font-size: 14px;
            padding-left: 6px;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        background-color: $main-color;
        transition: $transition;
    }
    &:hover {
        transform: translateY(-10px);

        &::before {
            width: 100%;
        }
        h3 {
            color: $white-color;
            transform: translateY(-15px);

            a {
                color: $white-color;
            }
        }
        p {
            transform: translateY(-15px);
            color: $white-color;
        }
        .icon {
            transform: translateY(-15px) rotate(360deg);
            background-color: $white-color;
            color: $main-color;
        }
        .read-more-btn {
            opacity: 1;
            visibility: visible;
            color: $white-color;
            bottom: 15px;

            &::before {
                background-color: $white-color;
            }
        }
    }
}

/*================================================
Services Details Area CSS
=================================================*/
.services-details-overview {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: {
        right: -25px;
        left: -25px;
        bottom: 60px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .services-details-desc {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: {
            right: 25px;
            left: 25px;
        }
        h3 {
            margin-bottom: 15px;
            font: {
                size: 24px;
            }
        }
        .features-text {
            margin-top: 25px;
    
            h4 {
                margin-bottom: 15px;
                font: {
                    size: 18px;
                    weight: 600;
                }
                i {
                    font-size: 16px;
                    margin-right: 4px;
                    color: $main-color;
                }
            }
        }
        .services-details-accordion {
            margin-top: 25px;

            .accordion {
                list-style-type: none;
                padding-left: 0;
                margin: {
                    bottom: 0;
                }
                .accordion-item {
                    display: block;
                    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
                    background: $white-color;
                    margin-bottom: 10px;
        
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                        .accordion-title {
                            i {
                                background: $optional-color;
                            }
                        }
                    }
                }
                .accordion-title {
                    padding: 15px 20px 10px 51px;
                    color: $black-color;
                    position: relative;
                    border-bottom: 1px solid transparent;
                    margin-bottom: -1px;
                    display: inline-block;
                    font: {
                        size: $font-size;
                    }
                    i {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 40px;
                        text-align: center;
                        height: 100%;
                        background: $main-color;
                        color: $white-color;
        
                        &::before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            font-size: 13px;
                        }
                    }
                    &.active {
                        border-bottom-color: #eeeeee;
        
                        i {
                            &::before {
                                content: "\f068";
                            }
                        }
                    }
                }
                .accordion-content {
                    display: none;
                    position: relative;
                    padding: 15px 15px;
        
                    &.show {
                        display: block;
                    }
                }
            }
        }
    }
    .services-details-image {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: {
            right: 15px;
            left: 15px;
        }
    }
}

// Service Card
.service-card-one {
    margin-bottom: 30px;
    border-radius: 10px;
    transition: $transition;
    .icon {
        position: relative;
        i {
            background-color: #ececff;
            height: 65px;
            width: 65px;
            text-align: center;
            line-height: 65px;
            border-radius: 50%;
            font-size: 30px;
            color: $main-color;
            display: inline-block;
            margin-bottom: 25px;
        }
        .check-icon {
            position: absolute;
            background: transparent;
            width: auto;
            height: auto;
            line-height: 1;
            margin: 0px 0px 20px -20px;
            font-size: 18px;
        }
    }

    h3 {
        font-size: 20px;
    }
    p {
        margin-bottom: -6px;
    }

    &.bg-white {
        padding: 30px;
    }
    &.center {
        text-align: center;
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.08);
    }

    &.gray-bg {
        padding: 30px;

        &:hover {
            background-color: $main-color;
            .icon {
                .check-icon {
                    display: none;
                }
            }
            h3 {
                color: $white-color;
                a {
                    color: $white-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                color: $white-color;
            }
        }
    }
}
