/*================================================
Solution Area CSS
=================================================*/
.solution-area {
    position: relative;
    z-index: 1;
    background: {
        color: $main-color;
        image: url(../../../images/solution-bg.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: $dark-purple;
        opacity: 0.9;
    }
    &.extra-pb {
        padding-bottom: 200px;
    }
}
.solution-content {
    .sub-title {
        color: $optional-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h2 {
        color: $lilac;
        margin-bottom: 12px;
        line-height:1;
        font: {
            weight: 800;
            size: 5em;
            
        }
    }
    p {
        color: $lilac;
    }
    .default-btn {
        margin-top: 10px;
    }
}
.solution-video {
    text-align: center;

    .video-btn {
        display: inline-block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        background-color: $white-color;
        border-radius: 50%;
        color: $main-color;
        position: relative;
        z-index: 1;
        cursor: pointer;

        i {
            padding-left: 5px;
            &::before {
                font-size: 38px;
            }
        }
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid $white-color;
        }
        &::before {
            animation: ripple 2s linear infinite
        }
        &::after {
            animation: ripple 2s linear 1s infinite
        }
        &:hover, &:focus {
            background-color: $main-color;
            color: $white-color;
        }
    }
}
@keyframes ripple {
    0% {
        transform: scale(1)
    }
    75% {
        transform: scale(1.75);
        opacity: 1
    }
    100% {
        transform: scale(2);
        opacity: 0
    }
}