/*================================================
Subscribe Area CSS
=================================================*/
.subscribe-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.subscribe-inner-area {
    position: relative;
    z-index: 1;
    padding: 80px;
    background: {
        color: $main-color;
        image: url(../../../images/subscribe-bg.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: $main-color;
        opacity: 0.85;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .70;
        height: 100%;
        z-index: -1;
        background: {
            image: url(../../../images/bg_lines.svg);
            repeat: no-repeat;
            position: center;
            size: cover;
        }
    }
}
.subscribe-content {
    text-align: center;

    .sub-title {
        color: $white-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h2 {
        color: $white-color;
        max-width: 700px;
        margin: {
            bottom: 0;
            left: auto;
            right: auto;
        }
        font: {
            weight: 800;
            size: 40px;
        }
    }
    .newsletter-form {
        max-width: 550px;
        position: relative;
        margin: {
            left: auto;
            right: auto;
            top: 35px;
        }
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: $white-color;
            border: none;
            height: 65px;
            padding-left: 25px;
            border-radius: 70px;
            padding-top: 5px;
            outline: 0;
            color: $black-color;
            font-size: 15px;

            &::placeholder {
                color: $paragraph-color;
            }
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: $main-color;
            color: $white-color;
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 70px;
            transition: $transition;
            line-height: 60px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: 700;
            }
            &:hover {
                background-color: $optional-color;
                color: $white-color;
            }
        }
        #validator-newsletter {
            position: absolute;
            left: 0;
            margin: 0 auto;
            right: 0;
            color: $white-color;
            bottom: -35px;
        }
    }
}