/*================================================
Team Area CSS
=================================================*/
.team-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.single-team-box {
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    background-color: $white-color;
    transition: $transition;
    text-align: center;

    .image {
        position: relative;
        overflow: hidden;
        margin-bottom: -7px;
        img {
            transition: $transition;
        }
    }
    .content {
        padding: 40px 30px;
        position: relative;
        transition: $transition;

        h3 {
            margin-bottom: 0;
            transition: $transition;
            color:$dark-purple;
            font: {
                size: 1.4em;
            }
        }
        span {
            display: block;
            margin-top: 4px;
            color: $main-color;
            transition: $transition;
            font: {
                weight: 400;
            }
        }
    }
    &:hover {
        transform: translateY(-5px);
        
        .image {
            img {
                transform: scale(1.2);
            }
            .social {
                opacity: 1;
                margin-top: 0;
                visibility: visible;
            }
        }
        .content {
            background-color: $main-color;

            h3 {
                color: $white-color;
            }
            span {
                color: $white-color;
            }
        }
    }
}

// Team slider
.team-slider {
    .single-team-box {
        box-shadow: none;
        .content {
            border-bottom: 1px solid #f7f7f7;
            border-left: 1px solid #f7f7f7;
            border-right: 1px solid #f7f7f7;
        }

        &:hover {
            .content {
                border-bottom: 1px solid $main-color;
                border-left: 1px solid $main-color;
                border-right: 1px solid $main-color;
            }
        }
    }
    &.owl-theme {
        .owl-nav {
            margin-top: 0;

            .owl-prev {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 30px;
                background: #fff;
                height: 30px;
                margin: 0;
                border-radius: 0;
                line-height: 30px;
                color: $black-color;
                padding: 0;
                &:hover {
                    background-color: $main-color;
                }
            }

            .owl-next {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 30px;
                background: #fff;
                height: 30px;
                margin: 0;
                border-radius: 0;
                line-height: 30px;
                color: $black-color;
                padding: 0;
                &:hover {
                    background-color: $main-color;
                }
            }
        }
    }
}