h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p {
    font-size: $font-size;
    line-height: 1.8;
    color: $paragraph-color;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: end !important;
}
