/*================================================
Why Choose Us Area CSS
=================================================*/
.why-choose-content {
    padding-right: 30px;

    .sub-title {
        color: $main-color;
        display: block;
        text-transform: uppercase;
        margin-bottom: 8px;
        font: {
            size: 15px;
            weight: 600;
        }
    }
    h2 {
        margin-bottom: 10px;
        font: {
            size: 40px;
        }
    }
    .features-text {
        margin-top: 25px;

        h4 {
            margin-bottom: 15px;
            font: {
                size: 18px;
                weight: 600;
            }
            i {
                font-size: 16px;
                margin-right: 4px;
                color: $main-color;
            }
        }
    }
}
.why-choose-image {
    text-align: center;
}