
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family: 'Heebo', sans-serif;
$main-color: #6e4aff;
$teal:#1cb3bd;
$optional-color: #ff3473;
$dark-purple: #141423;
$lilac: #f8f6ff;
$white-color: #ffffff;
$black-color: $dark-purple;
$paragraph-color: #737b9a;
$font-size: 15px;
$transition: .5s;
$gray-color: #f9f9fc;

@import 'modules/general';
@import 'modules/links';
@import 'modules/type';
@import 'modules/forms';
@import 'modules/preloader';
@import 'modules/nav';
@import 'modules/main-banner';
@import 'modules/featured-services';
@import 'modules/about';
@import 'modules/services';
@import 'modules/why-choose-us';
@import 'modules/overview';
@import 'modules/fun-facts';
@import 'modules/projects';
@import 'modules/careers';
@import 'modules/features';
@import 'modules/team';
@import 'modules/solution';
@import 'modules/feedback';
@import 'modules/pricing';
@import 'modules/clients';
@import 'modules/blog';
@import 'modules/subscribe';
@import 'modules/page-titles';
@import 'modules/pagination';
@import 'modules/sidebar';
@import 'modules/404';
@import 'modules/shop';
@import 'modules/faq';
@import 'modules/contact';
@import 'modules/footer';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';
// @import 'modules/nav';





/*================================================
Go Top CSS
=================================================*/
.scroll-to-top {
    i {
        position: fixed;
        cursor: pointer;
        bottom: 15px;
        right: 15px;
        background-color: $main-color;
        z-index: 4;
        width: 40px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        transition: .9s;
        color: $white-color;
        border-radius: 2px;
        font-size: 20px;
        &:hover, &:focus {
            color: $white-color;
            background-color: $optional-color;
        }
    }
}
.main-content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin-top: 20px;
    }
    p {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        padding-left: 17px;
        margin-top: 15px;
        li {
            line-height: 1.8;
        }
    }
}



/*================================================
Start IT Startup Page CSS
=================================================*/


// IT Banner
.it-banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f7f7f7;

    .container {
        &.mt-50 {
            margin-top: 50px;
        }
    }

    .banner-btn {
        margin-top: 30px;
        a {
            display: inline-flex;
        }
    }

    .video-btn {
        margin-left: 5px;
        line-height: 40px;
        cursor: pointer;
        display: inline-block;
        i {
            background-color: #ececff;
            height: 35px;
            width: 35px;
            display: inline-block;
            color: $main-color;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            padding-left: 5px;
            margin-right: 8px;
            transition: $transition;
        }
        &:hover {
            i {
                background-color: $main-color;
                color: $white-color
            };
        }
    }
    .it-banner-image {
        text-align: center;
 
        &.owl-theme {
            .owl-nav {
                margin: 0;
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;

                .owl-prev, .owl-next {
                    background-color: #fff;
                    color: $main-color;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    transform: scale(0);
                    transition: $transition;
                }
            }
            &:hover {
                .owl-prev, .owl-next {
                    transform: scale(1);
                }
            }
        }
    }
}

.shape-img11 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    img {
        max-width: 100px;
    }
}
.shape-img12 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Animate banner image */
.animate-image {
    position: relative;
}
.animate-image {
    img {
        display: block !important;
        -webkit-animation: border-transform 10s linear infinite alternate forwards;
        animation: border-transform 10s linear infinite alternate forwards;
        margin: auto;
    }
}
@-webkit-keyframes border-transform {
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

@keyframes border-transform {
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}


// IT Overview
.it-overview {
    .overview-content {
        .content {
            .features-list {
                li {
                    span {
                        i {
                            color: $main-color;
                            width: auto;
                            height: auto;
                            background-color: transparent;
                            line-height: 1;
                            font-size: 20px;
                            left: 12px;
                            top: 11px;
                        }
                        &:hover {
                            i {
                                background-color: transparent;
                                color: $white-color;
                            }
                        }
                    }
                }
            }

            .rm-btn {
                margin-top: 25px;
            }

            .features-text {
                margin-top: 20px;

                h4 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}







// Lets work
.lets-work {
    .sub-title {
        color: $white-color;
        display: block;
        margin-bottom: 10px;
    }
    h2 {
        color: $white-color;
        font-size: 60px;
        font-weight: 900;
    }
    .contact-btn {
        text-align: right;

        .default-btn {
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.25);
            
            span {
                background-color: $optional-color;
                width: 100%;
                height: 100%;
                left: 0 !important;
                top: 0 !important;
                transform: translate(0%, 0%);
            }

            &:hover {
                span {
                    background-color: #000;
                }
            }
        }
    }
}

// Feedback area two
.feedback-area-two {
    .section-title {
        margin-bottom: 40px;
    }

    .feedback-slides {
        .single-feedback-item {
            margin-top: 15px;

            &.border {
                border: 1px solid #eee;
                border-radius: 10px;
            }
        }
    }
}
/*================================================
End IT Startup Page CSS
=================================================*/

/*================================================
SEO Startup Page CSS
=================================================*/
// SEO Banner
.seo-banner-slider {
    img {
        width: auto !important;
        display: inline-block !important;
    }

    &.owl-theme {
        .owl-nav {
            margin: 0;
            .owl-prev {
                position: absolute;
                left: 0;
                top: 50%;
                width: 40px;
                background-color: $main-color;
                color: $white-color;
                height: 40px;
                margin: 0;
                border-radius: 0;
                line-height: 40px;
                transform: translateY(-50%);
                padding: 0;
                &:hover {
                    background-color: $black-color;
                    color: $white-color;
                }
            }
            .owl-next {
                position: absolute;
                right: 0;
                top: 50%;
                width: 40px;
                background-color: $main-color;
                color: $white-color;
                height: 40px;
                margin: 0;
                border-radius: 0;
                transform: translateY(-50%);
                line-height: 40px;
                padding: 0;
                
                &:hover {
                    background-color: $black-color;
                    color: $white-color;
                }
            }
        }
    }
}
.seo-banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f7f7f7;

    .container {
        &.mt-50 {
            margin-top: 50px;
        }
    }

    .banner-content {
        h1 {
            font-size: 50px;
        }
    }

    .banner-btn {
        margin-top: 30px;
        a {
            display: inline-flex;
        }
    }

    .video-btn {
        margin-left: 5px;
        line-height: 40px;
        cursor: pointer;
        display: inline-block;

        i {
            background-color: #ececff;
            height: 35px;
            width: 35px;
            display: inline-block;
            color: $main-color;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            padding-left: 5px;
            margin-right: 8px;
            transition: $transition;
        }
        &:hover {
            i {
                background-color: $main-color;
                color: $white-color
            };
        }
    }
    .seo-banner-image {
        text-align: center;

        &.animate-tb {
            animation: moveBounce 5s linear infinite;
        }
    }
}
.shape-img13 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.shape-img14 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

// SEO featured services
.rounded-10 {
    border-radius: 10px;
}
.seo-featured-services {
    .col-lg-7 {
        .row {
            .col-lg-6 {
                &:nth-child(2) {
                    margin-top: 30px;
                }
                &:nth-child(3) {
                    margin-top: -30px;
                }
                &:nth-child(5) {
                    margin-top: -30px;
                }
            }
        }
    }
}

// About area two
.about-area-two {
    .section-title {
        margin-bottom: 30px;
        max-width: 525px;
        margin-left: 0;
        width: 100%;
        h2 {
            max-width: 100%;
            margin-bottom: 0;
        }
    }
    .about-image {
        position: relative;
    }
    .solution-video {
        text-align: center;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        margin: 0;

        .video-btn {
            &:hover {
                &::after, &::before {
                    border: 1px solid transparent;
                }
            }
        }
    }
    .about-content {
        padding-left: 20px;
    }
    .about-text {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        h4 {
            font-size: 20px;
        }
    }
}

// Work Slider
.works-area  {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1920px;
    }
}
.work-slider {
    .work-card {
        margin-bottom: 0;
    }
    &.owl-theme {
        .owl-nav {
            margin-top: 0;

            .owl-prev {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 30px;
                background: #fff;
                height: 30px;
                margin: 0;
                border-radius: 0;
                line-height: 30px;
                padding: 0;
                color: $black-color;
                &:hover {
                    background-color: $main-color;
                }
            }

            .owl-next {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 30px;
                background: #fff;
                height: 30px;
                margin: 0;
                border-radius: 0;
                line-height: 30px;
                padding: 0;
                color: $black-color;
                &:hover {
                    background-color: $main-color;
                }
            }
        }
    }
}

// Choose area two
.choose-area-two {
    .section-title {
        margin-bottom: 30px;
        max-width: 100%;
        h2 {
            font-size: 36px;
            max-width: 6100%;
            width: 100%;
        }
    }

    .choose-text {
        position: relative;
        padding-left: 40px;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
        i {
            position: absolute;
            font-size: 30px;
            color: $main-color;
            left: 0;
            top: 0;
        }
        h4 {
            font-size: 20px;
        }
    }
}

.features-area {
    .tabs_item {
        &.bg-white {
            padding: 20px;
            border: 1px solid #f7f7f7;
        }
    }
}

.red {
    color: red !important;
}

.seo-analysis-section {
    .section-title {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .analysis-img {
        text-align: center;
    }
}

.analysis-form {
    .form-group {
        margin-bottom: 25px;
    }
    .form-control {
        background-color: #f6f6f6;
        border-radius: 5px;
        padding-left: 20px;
        font-size: 15px;
        color: #9d9fad;
        line-height: 30px;
        height: 56px
    }
    button.default-btn {
        margin-top: 10px;
    }
}

/*================================================
End SEO Startup Page CSS
=================================================*/

/*================================================
SaaS Startup Page CSS
=================================================*/
.default-btn-two {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: $white-color;
    text-transform: uppercase;
    background-color: $optional-color;
    transition: $transition;
    border-radius: 5px;
    font: {
        weight: 600;
        size: 15px;
    }
    padding: {
        left: 35px;
        right: 35px;
        top: 17px;
        bottom: 13px;
    }
    span {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $main-color;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 5px;
    }
    &:hover, &:focus {
        color: $white-color;
        box-shadow: 0px 10px 13px -6px rgba(0,0,0,.25);
        transform: translateY(-4px);

        span {
            width: 225%;
            height: 562.5px;
        }
    }
} 

.saas-banner-two {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #f1ece4;
    z-index: 0;
 
    .container {
        &.mt-50 {
            margin-top: 50px;
        }
    }

    .banner-btn {
        margin-top: 30px;
        a {
            display: inline-flex;
        }
    }
    .saas-banner-image {
        text-align: center;
        position: relative;

        img {
            border-radius: 10px;
        }

        &.animate-tb {
            animation: moveBounce 5s linear infinite;
        }

        .solution-video {
            text-align: center;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
            margin: 0;

            .video-btn {
                background-color: $main-color;
                color: $white-color;
                cursor: pointer;
                display: inline-block;

                &:hover {
                    &::after, &::before {
                        border: 1px solid transparent;
                    }
                }

                &::after, &::before {
                    border: 1px solid $main-color;
                }
            }
        }
    }
}

// Service card one
.service-card-one {
    .icon {
        .number {
            background-color: $main-color;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #fff;
            display: inline-block;
            font-size: 10px;
            line-height: 22px;
            position: absolute;
            margin: 50px 0 0 -25px;
        }
    }
}

// Fun facts two
.bg-f2f2f7 {
    background-color: #f2f2f7;
}
.fun-fact-card {
    margin-bottom: 30px;
    text-align: center;
    background: #fff;
    padding: 30px 10px;
    border-radius: 10px;
    transition: $transition;

    i {
        background-color: #ececff;
        color: $main-color;
        font-size: 35px;
        width: 65px;
        height: 65px;
        line-height: 65px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 40px;
        font-weight: 800;
    }

    &:hover {
        transform: translateY(-5px);
    }
}
/*================================================
End SEO Startup Page CSS
=================================================*/

/*================================================
AI & Machine Learning Page CSS
=================================================*/
@media only screen and (min-width: 992px) {
    .navbar-area-two {
        .adani-nav {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            color: $white-color;
                            &:hover {
                                color: $optional-color;
                            }
                        }
                    }
                }

                .others-options {
                    .cart-items {
                        color: $white-color;
                        a {
                            color: $white-color;
                            &:hover {
                                color: $white-color;
                            }
                        }
                    }
                    .option-item {
                        .search-btn {
                            color: $white-color;
                        }
                    }
                    .burger-menu {
                        span {
                            background: $white-color;
                        }
                    }
                }
            }
        }

        &.is-sticky {
            .adani-nav {
                .navbar {
                    .navbar-nav {
                        .nav-item {
                            a {
                                color: #5b5b98;
                                &:hover {
                                    color: $main-color;
                                }
                            }
                        }
                    }
        
                    .others-options {
                        .cart-items {
                            color: #5b5b98;
                            a {
                                color: #5b5b98;
                                &:hover {
                                    color: $main-color;
                                }
                            }
                        }
                        .option-item {
                            .search-btn {
                                color: #5b5b98;
                            }
                        }
                        .burger-menu {
                            span {
                                background: #5b5b98;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-area-two {
        .navbar-brand {
            .black-logo {
                display: none;
            }
        }

        &.is-sticky { 
            .black-logo {
                display: block;
            }
            .white-logo {
                display: none;
            }
        }
    }
}

.machine-learning-banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    background-position: center center;
 
    .container {
        &.mt-80 {
            margin-top: 80px;
        }
    }

    .banner-content {
        h1 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }

    .banner-btn {
        margin-top: 30px;
        a {
            display: inline-flex;
        }
    }
    .ml-video {
        position: relative;
        text-align: center;
    }
    .solution-video {
        text-align: center;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        margin: 0;

        .video-btn {
            background-color: $white-color;
            color: $main-color;
            cursor: pointer;
            display: inline-block;

            &:hover {
                background-color: $optional-color;
                color: $white-color;
                &::after, &::before {
                    border: 1px solid transparent;
                }
            }

            &::after, &::before {
                border: 1px solid $white-color;
            }
        }
    }
}
.ml-bg1 {
    background-image: url('../../images/machine-learning/slider/ml-slider1.jpg');
}
.ml-bg2 {
    background-image: url('../../images/machine-learning/slider/ml-slider2.jpg');
}
.ml-bg3 {
    background-image: url('../../images/machine-learning/slider/ml-slider3.jpg');
}
.machine-learning-slider {
    .owl-item {
        img {
            display: inline-block !important;
            width: auto !important;
        }
    }
    
    &.owl-theme {
        .owl-nav {
            margin: 0;
            .owl-prev {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white-color;
                width: 40px;
                height: 40px;
                margin: 0;
                color: $main-color;
                padding: 0;
                border-radius: 0;
                line-height: 40px;
            }
            .owl-next {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white-color;
                width: 40px;
                height: 40px;
                margin: 0;
                color: $main-color;
                padding: 0;
                border-radius: 0;
                line-height: 40px;
            }

            .owl-prev, .owl-next {
                &:hover {
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 15px;
            left: 60px;
            right: 60px;

            .owl-dot.active span, .owl-dot:hover span {
                background-color: $main-color;
            }
        }
    }
}

// Featured solution card
.featured-solution-card {
    box-shadow: 0px 5px 20px 0px rgba(105,146,234,.14);
    transition: $transition;
    padding: 30px 25px;
    margin-bottom: 30px;

    i {
        color: $main-color;
        font-size: 35px;
        display: inline-block;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 19px;
        line-height: 1.3;
        a {
            color: $black-color;
            &:hover {
                color: $main-color;
            }
        }
    }
    p {
        margin: 0;
        font-size: 15px;
    }
    .read-more {
        color: $main-color;
        font-size: 14.5px;
        margin-top: 15px;
        position: relative;
        font-weight: 600;

        &::after {
            content: '';
            background-color: $main-color;
            height: 1px;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

// ML Service
.ml-services-area {
    .section-title {
        max-width: 100%;
        h2 {
            max-width: 100%;
        }
        p {
            max-width: 600px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.ml-service {
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
    padding: 30px;
    overflow: hidden;
    position: relative;
    transition: $transition;
  
    .image {
        margin-bottom: 30px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 10px;
        a {
            color: $black-color;
            &:hover {
                color: $main-color;
            }
        }
    }
    p {
        margin: 0;
        font-size: 15px;
    }
    .read-more {
        color: $main-color;
        font-size: 15px;
        margin-top: 15px;
        position: relative;
        font-weight: 600;

        &::after {
            content: '';
            background-color: $main-color;
            height: 1px;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &::before {
        content: '';
        background-color: $main-color;
        position: absolute;
        top: -100%;
        left: -100%;
        width: 90px;
        height: 50px;
        transform: rotate(135deg);
        transition: $transition;
    }
    &:hover {
        transition: $transition;
        &::before {
            top: -32px;
            left: -34px;
        }
    }
}

// Free trial area
.free-trial-area {
    .subscribe-content {
        .sub-title {
            color: $main-color;
        }
        h2 {
            color: $black-color;
        }
        .help-text {
            font-size: 15px;
            margin: 15px 0 0;
            font-style: italic;
        }
        .validation-danger {
            color: red !important;
            font-size: 15px;
        }
    }
}
/*================================================
End AI & Machine Learning Page CSS
=================================================*/


/*================================================
Portfolio Agency Page CSS
=================================================*/
.portfolio-agency-banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    background-position: center center;

    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.70);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
 
    .container {
        &.mt-80 {
            margin-top: 80px;
        }
    }

    .banner-content {
        position: relative;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        h1 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }

    .banner-btn {
        margin-top: 30px;
        a {
            display: inline-flex;
        }
    }
}
.pa-bg1 {
    background-image: url('../../images/portfolio-agency/pa-slider1.jpg');
}
/*================================================
End Portfolio Agency Learning Page CSS
=================================================*/

.team-area {
    .max-w-1700 {
        max-width: 1700px;
        padding-left: 30px;
        padding-right: 30px;
    }
} 
.pt-0 {
    .ptb-100 {
        padding-top: 0 !important;
    }
}